<div class="panel panel-default">
  <div class="panel-body">

    <!-- Image -->
    <div class="row">
      <div class="col-md-12">
        <%= image_tag @photos[0].image.url(), class: "image-responsive" %>
      </div>
    </div>

    <br>
    <!-- Info -->
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3 tex-center">
            <%=  image_tag avatar_url(@room.user), class: "img-circle avatar-large" %>
            <br>
            <%= @room.user.fullname %>
          </div>

          <div class="col-md-9">
          <h4><%= @room.listing_name %></h4>
          <%= @room.address %>

          <div class="row text-center row-space-1">
            <div class="col-sm-3">
              <i class="fa fa-home fa-2x"></i>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-users fa-2x"></i>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-bed fa-2x"></i>
            </div>
            <div class="col-sm-3">
              <i class="fa fa-tint fa-2x"></i>
            </div>
          </div>

          <div class="row text-center">
            <div class="col-sm-3">
              <%= @room.home_type %>
            </div>
            <div class="col-sm-3">
              <%= pluralize(@room.accomodate, "Guest") %>
            </div>
            <div class="col-sm-3">
                <%= pluralize(@room.bed_room, "Bathroom") %>
            </div>
            <div class="col-sm-3">
                <%= pluralize(@room.bath_room, "Bedroom") %>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-4">
        <!-- Booking form -->
        <%= render 'bookings/form' %>
      </div>
    </div>


    <!-- About -->
    <div class="row">
      <div class="col-md-12">
        <h2>About this property</h2>
        <p><%= @room.summary %></p>
      </div>
    </div>

    <!-- Amenities -->
    <div class="row">
      <div class="col-md-2">
        <p>Amenities</p>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <ul class="amenities">
              <li class="<%='text-line-through'if @room.is_tv%>">TV</li>
              <li class="<%='text-line-through'if @room.is_kitchen%>">Kitchen</li>
              <li class="<%='text-line-through'if @room.is_wifi%>">Wifi</li>
              </ul>
          </div>
            <ul class="amenities">
            <div class="col-md-6">
              <li class="<%='text-line-through'if @room.is_heating%>">Heating</li>
              <li class="<%='text-line-through'if @room.is_aircon%>">Air Conditioning</li>
            </ul>
            </div>
        </div>
      </div>
    </div>

    <hr>
    <!-- Maps -->
    <div class="row">
      <div class="col-md-12">
        <%= render 'rooms/map' %>
      </div>
    </div>

    <!-- Close by Rooms -->
    <h3>Properties near you</h3>
    <div class="row">
      <% for room in @room.nearbys(10) %>

        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading preview">
              <%= image_tag room.photos[0].image.url(:medium) %>
            </div>
            <div class="panel-body">
              <%= link_to room.listing_name, room %><br/>
              (<%= room.distance.round(2) %> Miles away)
            </div>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
